<div class="feed-messages-container">
  <div class="feed-message" *ngFor="let message of feed" (click)="expandMessage(message)">
    <div class="message-icon" >
      <img class="photo-icon" src="http://www.flapandzap.com/dac%20lathe-1.jpg">
    </div>
<!--    <div class="message-icon" *ngIf="message.type != 'text-message'">
      <img class="photo-icon" src="{{ ( message.author | baProfilePicture ) }}">
      <span class="sub-photo-icon" [ngClass]="message.type"></span>
    </div>-->
    <div class="text-block text-message">
      <div class="message-header">
        <span class="author">User: {{ message.user }}, Machine: {{message.machine}}</span>
      </div>
      <div class="message-content line-clamp" [ngClass]="{'line-clamp-2' : !message.expanded}">
        <span *ngIf="message.preview">Job: {{ message.job }} </span>Status: {{ message.status }}
      </div>
<!--      <div class="preview" [ngClass]="{'hidden': !message.expanded}" *ngIf="message.preview">
        <a href="{{ message.link }}" target="_blank">
          <img src="{{ ( message.preview | baAppPicture )}}">
        </a>
      </div>-->
      <div [ngClass]="{'hidden': !message.expanded}" class="message-time">
        <div class="post-time">
          {{ message.initDate }}
        </div>
        <div class="ago-time">
          {{ message.hms }}
        </div>
      </div>
    </div>
  </div>
</div>
